html {
    height: 100%;
}

body {
    height: 100%;
}

.error {
    font-family: 'Roboto', sans-serif;
}

.error .content {
    text-align: center;
}

.error-404 .content {
    margin: 15vh auto auto;
}

.error-runtime .content {
    margin: 30px auto auto;
}

.error .content p {
    color: #676767;
}

.error .content a {
    background-color: #34b3a0;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.error .content a:hover {
    background-color: #238576;
    border-color: #238273;
}

/*error-404*/
.error-404 {
    display: flex;
    height: 100%;
}

.error-404 .content {
    width: 66vw;
}

.error-404 .code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 27vw;
    line-height: 27vw;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 10px;
}

.error-404 .code__number {
    width: 25%;
    font-weight: bold;
    color: #cccccc;
    text-shadow: -0.4vw -0.4vw 0 white,
    0.4vw -0.4vw 0 white,
    -0.4vw 0.4vw 0 white,
    0.4vw 0.4vw 0 white,
    -0.46vw -0.46vw 0 #cccccc,
    0.46vw -0.46vw 0 #cccccc,
    -0.46vw 0.46vw 0 #cccccc,
    0.46vw 0.46vw 0 #cccccc;
}

.error-404 .code__image {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.error-404 .code__image img {
    position: relative;
    bottom: 2.2vw;
    height: 21vw;
    border: 0.45vw solid white;
    box-shadow: 0 0 0 0.075vw #cccccc;
    border-radius: 10.5vw;
}

/*error-runtime*/
.error-runtime .content {
    /*margin: auto;*/
    max-width: 500px;
}

.error-runtime figure {
    position: relative;
}

.error-runtime figcaption {
    position: absolute;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-style: italic;
    top: 30px;
    left: 25px;
    text-align: left;
    color: white;
}

.error-runtime img {
    width: 100%;
    border: 5px solid white;
    box-shadow: 0 0 0 1px #cccccc;
    border-radius: 0 65px;
}

.error-runtime p {
    /*text-align: right;*/
}