html {
    height: 100%;
    background: url(../images/gif/water2.gif) no-repeat;
    background-size: cover;
}

body {
    height: 100%;
    background: rgba(255, 255, 255, 0.35);
    overflow: hidden;
    user-select: none;
}

.header,
.footer {
    text-align: center;
}

.header {
    padding-top: 33px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 82px;
}