/*
MAIN COLORS:
light-grey: #d2d2d0,
dark-grey: #a09f9d,
tyan: #34b3a0
*/

/*Common*/
html {
    height: 100%;
}

body {
    height: 100%;
    color: #101010;
    font-family: Roboto, Arial, sans-serif;
}

#content {
    height: 100%;
}

a {
    color: #34b3a0;
    font-weight: 500;
}

a:hover {
    color: #238576;
}

.partitions {
    padding: 30px 0 20px;
}

.nav {
    justify-content: center;
}

.nav-pills a {
    font-size: 17px;
    font-weight: normal;
}

.nav-pills .nav-link.active {
    background-color: #34b3a0;
}

footer {
    height: 50px;
}

.btn-d {
    cursor: pointer;
    font-size: 0.96rem;
    font-weight: 700;
    text-decoration: none !important;
    color: rgb(209, 209, 217) !important;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .5em 1em;
    outline: none !important;
    border: none;
    border-radius: 5px;
    background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
    0 3px 5px rgba(0, 1, 6, .15);
    transition: .2s ease-in-out;
}

.btn-d:hover {
    background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
}

.btn-d:active {
    background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset,
    0 2px 3px rgba(0, 0, 0, .5) inset,
    0 1px 1px rgba(255, 255, 255, .1);
}

.btn-d:active,
.btn-d:focus {
    border-color: #34b3a0;
    box-shadow: 0 0 0 0.2rem rgba(52, 179, 160, 0.35);
}

.was-validated,
.was-validated .form-control:valid:focus,
.form-control.is-valid:focus,
.custom-select.is-valid:focus,
.custom-select:valid:focus {
    border-color: #34b3a0;
    box-shadow: 0 0 0 0.2rem rgba(52, 179, 160, 0.35);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #34b3a0;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(52, 179, 160, 0.35);
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(52, 179, 160, 0.35);
}

[type=text]:focus {
    border-color: #34B3A0;
    box-shadow: 0 0 0 0.2rem rgba(52, 179, 160, 0.25);
}

#scroll-up {
    display: flex;
    align-items: center;
    position: fixed;
    left: 25px;
    bottom: 20px;
    width: 42px;
    height: 42px;
    font-size: 40px;
    line-height: 40px;
    cursor: pointer;
    z-index: 200;
    background: transparent;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s;
}

#scroll-up.showed {
    opacity: 1;
}

#scroll-up a {
    flex: 1;
    text-align: center;
}

@media all and (max-width: 700px) {
    .nav-pills li {
        flex: 1 100%;
        text-align: center;
    }
}

/*Home*/
.home-wrapper {
    height: 100%;
    overflow: hidden;
}

.home-wrapper video,
.home-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-wrapper video {
    display: none;
}

.home-wrapper > img {
    position: fixed;
    left: 0;
    top: 0;
}

.home-wrapper .header,
.home-wrapper .footer {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.home-wrapper .header {
    top: 0;
    padding-top: 33px;
}

.home-wrapper .footer {
    bottom: 0;
    height: 82px;
}

@media all and (max-width: 500px) {
    .home-wrapper .header {
        padding-top: 13px;
    }

    .home-wrapper .header img {
        height: 100px;
    }

    .home-wrapper .footer {
        height: 60px;
    }

    .home-wrapper .footer img {
        height: 50px;
    }
}

/*Graphic-design*/
.graphic-design .main-work {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin-bottom: 60px;
}

.graphic-design .main-work a {
    border-radius: 0 65px;
}

.graphic-design .main-work img,
.graphic-design .main-work canvas {
    flex: 1 100%;
    align-self: flex-start;
    width: 100%;
    max-width: 780px;
    border: 5px solid white;
    box-shadow: 0 0 0 1px #cccccc;
    border-radius: 0 65px;
}

.graphic-design .main-work .work {
    flex: 1 100%;
    align-self: flex-start;
    position: relative;
    max-width: 780px;
    line-height: 0;
}

.graphic-design .main-work .work::after {
    content: "";
    border: 5px solid white;
    width: 100%;
    height: 100%;
    display: block;
    background: transparent;
    box-shadow: 0 0 0 1px #cccccc;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
}

.graphic-design .main-work .description {
    flex: 1;
    position: relative;
    min-width: 250px;
    margin-left: 20px;
    padding-top: 50px;
}

.graphic-design .desc_header a {
    text-decoration: none;
}

.graphic-design .arrow {
    display: inline-block;
    position: relative;
    top: -1px;
    font-size: 24px;
    color: #34b3a0;
}

.graphic-design .arrow-right {
    padding-right: 3px;
}

.graphic-design .arrow:hover {
    color: #238576;
    cursor: pointer;
}

.graphic-design .main-work h2 {
    display: inline-block;
    margin: 0;
    font-family: Philosopher, serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
    padding-bottom: 3px;
    background-color: #565656;
    color: transparent;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.graphic-design .main-work .desc_text {
    border-bottom: 1px solid #d2d2d0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.graphic-design .main-work p {
    font-size: 15px;
    line-height: 19px;
    color: #101010;
}

.graphic-design .main-work .desc_meta {
    padding-top: 25px;
}

.graphic-design .main-work .desc_meta p {
    padding: 0;
    margin: 0;
    line-height: 22px;
}

.graphic-design .another-works {
    padding: 25px 5px 0 235px;
}

.graphic-design .another-works h3 {
    font-size: 16px;
    color: #464646;
}

.graphic-design .another-works ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 14px 0 20px 0;
    padding: 0;
    list-style: none;
}

.graphic-design .another-works li {
    display: block;
    margin: 0 25px 10px 0;
    width: 170px;
    position: relative;
}

.graphic-design .another-works li img {
    border: 5px solid white;
    border-radius: 0 20px;
    box-shadow: 0 0 0 1px #cccccc;
    cursor: pointer;
    background: #d2d2d2;
    width: 177px;
    height: 177px;
}

.graphic-design .another-works li:hover {
    cursor: pointer;
}

.graphic-design .another-works li:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 177px;
    height: 177px;
    border: 5px solid white;
    border-radius: 0 20px;
    background: #34b3a0;
    opacity: 0.2;
    pointer-events: none;
}

.graphic-design .another-works li h4 {
    padding: 6px 0 0 15px;
    font-size: 13px;
    line-height: 13px;
    font-weight: bold;
    color: #34b3a0;
}

.graphic-design .another-works li:hover h4 {
    color: #238576;
}

.graphic-design .another-works a {
    text-decoration: none;
}

@media all and (max-width: 1200px) {
    .graphic-design .main-work .description {
        flex: 1 100%;
        padding: 15px 0 0 40px;
        max-width: 780px;
    }
}

@media all and (max-width: 830px) {
    .graphic-design .main-work .description {
        padding-left: 0;
        margin-left: 0;
    }
}

@media all and (max-width: 500px) {
    .graphic-design .another-works {
        padding-left: 130px;
    }
}

/*Skills*/
.skills ul {
    display: flex;
    /*justify-content: space-evenly;*/
    list-style: none;
    flex-flow: row wrap;
    margin: 0;
    padding: 50px 0 0;
}

.skills li {
    flex: 0 0 200px;
    height: 220px;
    display: inline-block;
    text-align: center;
}

.skills .bar {
    padding: 0 35px;
    font-size: 0.8rem;
}

.skills .tech {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #424242;
    padding: 5px 0 0;
}

.skills .cut-in {
    height: 185px;
}

.skills .cut-in div {
    border: 5px solid lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding-left: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    height: 128px;
    width: 130px;
    margin: auto;
}

.skills .cut-in p {
    margin: 0 -40px;
    color: darkgrey;
    font-size: 1.1rem;
    line-height: 1.2rem;
}

.skills .cut-in b {
    color: #34b3a0;
    font-size: 1.5rem;
    font-family: Philosopher, serif;
}
.skills .cut-in blockquote {
    margin: 0;
}

.skills .cut-in blockquote p,
.skills .cut-in blockquote cite {
    font-size: 1rem;
    line-height: 1.2rem;
}

.skills .cut-in blockquote cite {
    font-style: normal;
    font-family: Philosopher, serif;
    font-weight: bold;
    color: darkgray;
}

.skills .cut-in blockquote b{
    font-size: 1.3rem;
}

@media all and (max-width: 429px) {
    .skills ul {
        margin-top: -130px;
    }
}

@media all and (max-width: 829px) {
    .skills ul {
        justify-content: space-evenly;
    }
}

/*CV*/
.cv {
    color: #101010;
    padding: 0 35px;
}

.cv .load-block {
    position: absolute;
    top: 40px;
    left: 35px;
    width: 230px;
    text-align: center;
}

.cv .load-block img {
    position: relative;
    left: -7px;
    width: 66%;
    padding-bottom: 15px;
}

.cv .load {
    display: flex;
    justify-content: space-between;
    background: rgb(81, 81, 86);
    border-radius: 5px;
}

.cv .load a {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', serif;
    font-size: 93.825%;
    font-weight: 700;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .5em 1em;
    outline: none;
    background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)), rgb(110, 112, 120);
    transition: .2s ease-in-out;
}

.cv .load .load__pdf:active,
.cv .load .load__doc:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset,
    0 2px 3px rgba(0, 0, 0, .5) inset,
    0 1px 1px rgba(255, 255, 255, .1);
}

.cv .load .load__pdf {
    border-radius: 5px 0 0 5px;
    background: url('../images/pdf.png') no-repeat center, linear-gradient(#e81829, #c11826), #e81829;
    width: 40px;
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
    0 3px 5px rgba(155, 1, 6, .15),
    0 0 1px 1px rgba(0, 1, 6, .2);
}

.cv .load .load__pdf:hover:not(:active) {
    background: url('../images/pdf.png') no-repeat center, linear-gradient(#f51527, #ae1622), #f51527;
}

.cv .load .load__pdf:active {
    background: url('../images/pdf_back.png') no-repeat center, linear-gradient(#b51723, #8c141d), #b51723;
}

.cv .load .load__sign {
    cursor: default;
    pointer-events: none;
    color: rgb(209, 209, 217) !important;
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
    0 3px 5px rgba(0, 1, 6, .15),
    0 0 1px 1px rgba(0, 1, 6, .2);
}

.cv .load .load__doc {
    border-radius: 0 5px 5px 0;
    background: url('../images/doc.png') no-repeat center, linear-gradient(#178ae8, #1775c2), #178ae8;
    width: 40px;
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
    0 3px 5px rgba(0, 1, 155, .15),
    0 0 1px 1px rgba(0, 1, 6, .2);
}

.cv .load .load__doc:hover:not(:active) {
    background: url('../images/doc.png') no-repeat center, linear-gradient(#1691f5, #176aad), #1691f5;
}

.cv .load .load__doc:active {
    background: url('../images/doc_back.png') no-repeat center, linear-gradient(#186eb5, #14568c), #186eb5;
}

.cv header {
    text-align: center;
    padding: 170px 250px 0;
    color: #565656;
}

.cv header h2 {
    font-family: 'Philosopher', serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.cv header p {
    font-size: 1.1rem;
}

.cv .resume {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 40px;
    margin: 0 -15px;
}

.cv .resume > div {
    flex: 1;
    margin: 0 15px;
}

.cv .resume .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cv .resume h3 {
    font-family: 'Philosopher', serif;
    font-size: 25px;
    font-weight: bold;
    color: #565656;
    margin-bottom: 4px;
}

.cv .resume h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding-top: 8px;
    color: #565656;
}

.cv .resume h5 {
    font-size: 1rem;
    font-weight: bold;
    color: #9E9E9C;
}

.cv .resume ul:not(.teachers) {
    list-style: none;
    padding-left: 0;
}

.cv .resume .teachers {
    list-style-image: url('../images/teacher.png');
}

.cv .resume .teachers li {
    font-size: 14px;
}

.cv .resume .teachers li strong {
    font-size: 14px;
    color: #565656;
}

.cv .resume .figure {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 1.5rem 40px 1.5rem 20px;
}

.cv .resume .figure img {
    width: 100%;
}

.cv .resume .figure .tape-1 {
    position: absolute;
    left: 20px;
    top: 1.5rem;
    width: 12.5%;
}

.cv .resume .figure .tape-2 {
    position: absolute;
    right: 40px;
    bottom: 1.5rem;
    width: 15%;
}

.cv .resume .figure .tape-1 img {
    transform: translate(-40%, -15%);
}

.cv .resume .figure .tape-2 img {
    transform: translate(52%, 20%);
}

.cv #feedback {
    padding: 60px 0 80px;
}

.cv #feedback h3 {
    font-family: 'Philosopher', serif;
    font-size: 25px;
    font-weight: bold;
    color: #565656;
    margin-bottom: 10px;
}

.cv #feedback .form-control:focus {
    border-color: #34B3A0;
    box-shadow: 0 0 0 0.2rem rgba(52, 179, 160, 0.25);
}

.cv #feedback textarea {
    min-height: 110px;
    overflow: hidden;
}

.cv #feedback [type=submit] {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .5em 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
    0 3px 5px rgba(0, 1, 6, .15);
    transition: .2s ease-in-out;
}

.cv #feedback [type=submit]:hover:not(:active) {
    background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
}

.cv #feedback [type=submit]:active,
.cv #feedback [type=submit]:disabled {
    background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset,
    0 2px 3px rgba(0, 0, 0, .5) inset,
    0 1px 1px rgba(255, 255, 255, .1);
}

.cv #feedback [type=submit]:disabled:hover {
    background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
}

.cv #feedback .input-prepend {
    position: relative;
}

.cv #feedback .input-prepend .add-on {
    position: absolute;
    font-size: 14px;
    top: 7px;
    right: 12px;
    color: #9E9E9C;
    pointer-events: none;
    z-index: 1;
}

.cv #feedback #status ul {
    margin: 0;
    padding: 0;
}

.cv #feedback #status li {
    list-style: none;
}

@media all and (max-width: 900px) {
    .cv {
        padding: 0 15px;
    }

    .cv header {
        padding: 270px 0 0;
        text-align: left;
    }

    .cv .resume {
        margin: 0;
    }

    .cv .resume > div {
        flex: 1 0 100%;
        margin: 0;
    }

    .cv .resume .figure {
        margin-left: 15px;
        width: 95%;
    }
}

@media all and (max-width: 500px) {
    .cv .load-block {
        left: 15px;
    }
}

/*Web-animations*/
.web-animations .main-work .work {
    flex: 1 100%;
    align-self: flex-start;
    position: static;
    max-width: 780px;
    line-height: 0;
}

.web-animations .main-work .work::after {
    content: none;
}

.external-link {
    position: relative;
    top: -10px;
    left: -2px;
    font-size: 13px;
}

.web-animations .another-works {
    padding: 25px 235px 0 0;
}

/*Services*/
.services {
    overflow: hidden;
}

.services .works {
    display: flex;
    padding: 10px 0 0;
    flex-flow: row wrap;
    margin-bottom: 100px;
}

.services .works > * {
    flex: 1 0 200px;
}

.service-button {
    display: inline-block;
    min-width: 200px;
    height: 200px;
    margin: 0 20px 25px 20px;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    color: #a09f9d;
    text-decoration: none !important;
    text-align: center;
    user-select: none;
    padding: 30px 1.2em .2em;
    outline: none;
    border: 5px solid white;
    box-shadow: 0 0 0 1px #cccccc;
    border-radius: 0 65px;
    background: rgb(245, 245, 245) linear-gradient(135deg, #f6f6f6, #e4f0e4);
    transition: all .218s ease 0s;
}

.service-button img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.service-button p {
    background-color: #565656;
    color: transparent;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.service-button:hover {
    color: white;
    border: 5px solid #e2e2e2;
    background: #34b3a0;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .25);
}

.service-button:hover p {
    color: white;
    text-shadow: none;
}

.service-button:active {
    color: white;
    border: 5px solid white;
    background: #238576;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .25) inset;
}

.description_note {
    max-width: 550px;
    position: relative;
    align-self: flex-start;
    margin: 0 0 15px 0;
    padding: 15px 30px 20px 30px;
    background: #ffc;
    user-select: none;
    transform: rotate(-2deg) scale(0.9);
    animation-duration: 1s;
}

.description_note:hover {
    transform: rotate(0) scale(1);
    transition: all 0.3s;
    cursor: pointer;
}

.description_note .desc_header {
    text-align: center;
}

.description_note .desc_text {
    border-bottom: 1px solid #d2d2d0;
    padding: 5px 0 10px 0;
}

.description_note .desc_text p {
    padding-top: 7px;
}

.description_note h2 {
    display: inline-block;
    margin: 0;
    font-family: Philosopher, serif;
    font-weight: bold;
    font-size: 32px;
    background-color: #565656;
    color: transparent;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.description_note p {
    font-size: 15px;
    line-height: 19px;
    color: #101010;
}

.description_note .desc_meta {
    padding-top: 25px;
}

.description_note .desc_meta p {
    padding: 0;
    margin: 0;
    line-height: 22px;
}

.description_note #description__close {
    display: inline-block;
    color: #FFFFFF;
    background-color: #34b3a0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3), inset 0 -1px 2px -1px rgba(0, 0, 0, .5), inset 0 1px 2px 1px rgba(255, 255, 255, .3);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .3);
    text-decoration: none;
}

.description_note #description__close:hover {
    color: white;
    text-decoration: none;
    background-color: #238576;
    box-shadow: none;
}

.description_note #description__close:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .3),
    inset 0 -1px 2px -1px rgba(0, 0, 0, .5),
    inset 0 1px 2px 1px rgba(0, 0, 0, .3);
}

@media all and (max-width: 500px) {
    .mailing #sendForm .div-inline {
        display: block;
    }

    .mailing #sendForm .div-inline > div {
        margin-top: 10px;
    }
}

/*Sites*/
.sites {
    overflow-x: hidden;
}

.sites .works {
    display: flex;
    padding: 10px 0 0;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.site-button {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 200px;
    margin: 0 20px 25px 20px;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    color: #a09f9d;
    text-decoration: none !important;
    text-align: center;
    user-select: none;
    padding: 30px 1.2em .2em;
    outline: none;
    border: 5px solid white;
    box-shadow: 0 0 0 1px #cccccc;
    border-radius: 0 65px;
    transition: all .218s ease 0.3s;
    overflow: hidden;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.site-button.animate {
    transition: filter .218s ease 0.5s;
}

.site-button .logo,
.site-button h3,
.site-button .curtain {
    position: absolute;
    top: 0;
    left: 0;
}

.site-button .logo {
    opacity: 1;
}

.site-button.animate .logo {
    opacity: 0;
    transition: all 0s ease 0.5s;
}

.site-button .curtain {
    background: #34b3a0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.site-button.animate .curtain {
    opacity: 0.2;
    transition: all 0s ease 0.6s;
}

.site-button h3 {
    width: 400px;
    text-align: center;
    font-family: Philosopher, serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 200px;
    color: white;
    text-shadow: #204F40 2px 2px 0, #204F40 -1px -1px 0,
    #204F40 -1px 1px 0, #204F40 1px -1px 0;
    opacity: 0;
}

.site-button.animate h3 {
    opacity: 1;
    transition: all 0s ease 0.6s;
}

#wing {
    position: absolute;
    left: -150px;
    top: -100px;
    transform-origin: 0 0;
    transform: rotate(-50deg);
}

#wing.animate {
    transform: rotate(55deg);
    transition: transform 0.4s ease-in 0.3s;
}

.sites .site-nav {
    display: flex;
    justify-content: space-between;
}

.sites .site-nav h2 {
    margin: 0;
    font-family: Philosopher, serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 3px;
    background-color: #565656;
    color: transparent;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.sites .site-nav .back {
    margin-left: 10px;
}

.sites .site-nav a {
    position: relative;
    top: -2px;
    font-size: 24px;
    text-decoration: none;
}

.sites .site-content {
    width: 100%;
}

.sites .site-row {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    position: relative;
}

.sites .site-row .work-block {
    flex: 11;
    max-width: 900px;
    min-width: 200px;
    order: 1;
}

.sites .site-row .work-desc {
    flex: 1;
    min-width: 400px;
    max-width: 870px;
    margin: 25px 0 0 12px;
    position: relative;
    padding: 30px 25px;
    order: 2;
}

.sites .site-row .work-desc[style="opacity: 0;"] {
    padding: 0;
}

.sites .site-row.reverse .work-block {
    order: 2;
}

.sites .site-row.reverse .work-desc {
    order: 1;
}

.sites .site-row .work-desc::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 3px;
    right: 3px;
    bottom: 4px;
    border: 1px solid #d2d2d0;
    border-left-color: transparent;
    border-radius: 0 30px;
}

.sites .site-row .work-desc::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #34b3a0;
    opacity: 0.6;
    border-right-color: transparent;
    border-radius: 0 30px;
}

.sites .site-row .work-desc p {
    margin: 0;
    color: #101010;
}

.sites .work-header {
    width: 100%;
    height: 43px;
    background: url('/assets/portfolio/web-development/sites/w-header.png') bottom no-repeat;
    background-size: contain;
}

.sites .work {
    width: 100%;
    background: url('/assets/portfolio/web-development/sites/w-back.png') repeat;
    background-size: contain;
}

.sites .work img {
    border: 1px solid #9e9e9e;
    width: 96.6%;
    margin: 0 1.7%;
}

.sites .work-footer {
    width: 100%;
    height: 35px;
    background: url('/assets/portfolio/web-development/sites/w-footer.png') top no-repeat;
    background-size: contain;
}

.sites .site-row .figure {
    position: absolute;
}

.k-gallery .site-row .figure {
    width: 300px;
}

.k-gallery .site-row .figure-rb {
    bottom: -25px;
    right: 40px;
}

.k-gallery .site-row .figure-lb {
    bottom: -25px;
    left: 40px;
}

.sites .desc_meta {
    margin: 30px 13px 0;
    padding: 23px 0 0 0;
    border-top: 1px solid #d2d2d0;
}

.sites .desc_meta p {
    margin: 0 0 3px 0;
}

.sites .site-footer {
    height: 120px;
}

.k-gallery .site-footer {
    margin: 20px -15px 0;
    height: 363px;
    background: url('/assets/portfolio/web-development/sites/k-gallery/picture.jpg') center no-repeat;
    background-size: cover;
}

.sites .btn-site {
    display: inline-block;
    margin-top: 15px;
}

.sites .btn-site {
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
    0 3px 5px rgba(0, 1, 6, .15);
}

.sites .btn-site:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset,
    0 2px 3px rgba(0, 0, 0, .5) inset,
    0 1px 1px rgba(255, 255, 255, .1);
}

.dragonfly .special-1 > div:nth-child(1) {
    flex: 1;
    min-width: 325px;
    max-width: 600px;
    margin-left: auto;
}

.dragonfly .special-1 > div:nth-child(2) {
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    margin-right: auto;
}

.dragonfly .special-1 img {
    width: 96.85%;
}

.dragonfly .special-1 .work-desc {
    flex: none;
    position: relative;
    bottom: 25px;
    margin-top: 25px;
}

.dragonfly .special-2 .work-block {
    width: 100%;
}

.dragonfly .error-runtime.preview {
    padding-bottom: 50px;
}

.dragonfly .error-runtime.preview .partitions {
    width: 80%;
    margin: auto;
}

.dragonfly .error-runtime.preview p {
    margin-bottom: 0;
}

.dragonfly .error-runtime.preview .content {
    width: 80%;
}

.dragonfly .error-404.preview {
    padding-bottom: 5%;
}

.dragonfly .error-404.preview .content {
    margin-top: 0;
}

.dragonfly .error-404.preview .code,
.dragonfly .error-404.preview .content p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.dragonfly .error-404.preview .code {
    padding-bottom: 0;
}

.dragonfly .error-404.preview .code__number {
    font-size: 55%;
}

.dragonfly .error-404.preview .code__image img {
    height: 50%;
    margin-bottom: 20px;
}

@media all and (max-width: 1100px) {
    .sites .site-row.reverse .work-block {
        order: 1;
    }

    .sites .site-row.reverse .work-desc {
        order: 2;
    }

    .sites .site-row .work-desc {
        flex: none;
        margin: 0;
        width: 97%;
        margin-left: 1.6%;
    }

    .sites .site-row .work-desc::before {
        left: 4px;
        right: 4px;
    }

    .sites .site-row .figure {
        display: none;
    }

    .dragonfly .special-1 {
        margin-bottom: -25px;
    }

    .dragonfly .special-1 > div:nth-child(1) {
        margin-left: unset;
    }

    .dragonfly .special-2 .work-block {
        flex: none;
    }
}

@media all and (max-width: 500px) {
    .site-button {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .site-button .logo {
        position: unset;
    }

    .site-button h3 {
        display: none;
    }

    .site-button.tproger,
    .site-button.unique {
        justify-content: flex-start;
    }

    .sites .site-row .work-desc {
        min-width: unset;
    }

    .sites .site-nav .back .btn {
        padding-left: 13px;
    }

    .sites .site-nav .back .btn span {
        display: none;
    }

    .dragonfly .special-1 > div:nth-child(1) {
        min-width: unset;
    }

    .k-gallery .site-footer {
        height: 200px;
    }
}


